@charset "UTF-8";

html {
  font-size: 15px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color: #555;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
}

.container {
  max-width: 960px;
  width: 80%;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.site-title {
  width: 7rem;
  padding: 1rem 0;
}

#header ul {
  display: flex;
  justify-content: end;
}

#header li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

#header li:not(:first-of-type) {
  margin-left: 2rem;
}

#main-visual {
  width: 100%;
  height: calc(100vh - 10rem);
  background-image: url(../img/mainvisual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

h2 {
  display: inline-block;

  margin: 4rem 0 3rem;
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 1px solid #333;
}

article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

article img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.texts {
  margin-left: 3rem;
  text-align: left;
}

.author {
  margin-bottom: .5rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

#bicycle ul {
  display: flex;
}

#bicycle li {
  width: 33%;
}

#bicycle li:not(:first-of-type) {
  margin-left: 1rem;
}

img {
  width: 100%;
}

#bicycle h3 {
  margin-top: 1rem;
  font-size: 1.2;
  font-weight: 700;
  text-align: center;
}

#bicycle .texts {
  margin-left: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5rem;
  height: 3rem;
  color: #fff;
  background-color: #333;

}

